checkpoints/
detected_dynamic_keypoints/
detected_keypoints/
global_point_cloud.ply
output_masks/
sam2_rgb_jpg/
sam2_tracker.py
output_masks/
output_refined_visualization/
output_visualization/
refined_full_video.mp4
refined_masks/
refined_masks_video/
merged_pcl/
merged_object.ply
merged_ransac_pcl/
saved_videos/
pcl_test/
temp_video_dir/

*.pyc
__pycache__/
dynamic_static_visualization/