checkpoints/
detected_dynamic_keypoints/
detected_keypoints/
global_point_cloud.ply
output_masks/
sam2_rgb_jpg/
sam2_tracker.py
output_masks/
output_refined_visualization/
output_visualization/
refined_full_video.mp4

*.pyc
__pycache__/
dynamic_static_visualization/